:root {
  --gin-font: Mallory, sans-serif;
  --gin-font-size-h1: 1.75rem;
  --gin-font-size-h2: 1.5rem;
  --gin-font-size-h3: 1.25rem;
  --gin-border-m: 0.313rem;
  --jui-dropdown-bg-color: var(--gin-bg-layer);
  --input-fg-color--placeholder: var(--gin-color-text);
}

/* affect admin paths only */
:root .path-admin h1,
:root .path-admin h2 {
  font-weight: 600;
}

/* embed headers need gin's color text to look good in dark mode */
html.gin--dark-mode #ajax-embed-instructions,
/* Any configure block should be using this as well */
html.gin--dark-mode form.layout-builder-configure-block.glb-form {
  --color-heading: var(--gin-color-text);
}

/* Make the secondary toolbar fixes */
.gin-secondary-toolbar--frontend {
  position: fixed;
  width: 100%;
  top: calc(var(--gin-toolbar-secondary-height) - 7px) !important;
}

/* yalb-1251 - AX: pencil icon difficulty editing blocks */
/* change the contextual pencil icon to the left-hand side of each component
// instead of the right
*/
.layout-builder-block.contextual-region .contextual {
  display: flex;
  flex-direction: column;
  top: 1rem;
  left: 2vw;
  right: auto;
  width: auto;
}

@media only screen and (min-width: 2200px) {
  .layout-builder-block.contextual-region .contextual {
    left: 15vw;
  }

  [data-component-layout="fifty-fifty"] .layout-builder-block.contextual-region .contextual {
    left: 1vw;
  }

  [data-component-layout="thirty-thirty-thirty"] .layout-builder-block.contextual-region .contextual {
    left: 1vw;
  }
}

/* 2500 */
@media only screen and (min-width: 2500px) {
  .layout-builder-block.contextual-region .contextual {
    left: 20vw;
  }

  [data-component-layout="fifty-fifty"] .layout-builder-block.contextual-region .contextual {
    left: 1vw;
  }

  [data-component-layout="thirty-thirty-thirty"] .layout-builder-block.contextual-region .contextual {
    left: 1vw;
  }
}

/* Contextual links within contextual-region */
.layout-builder-block.contextual-region .contextual .contextual-links {
  left: 0;
  right: 0;
  float: unset;
}

/* increase the size of the clickable/hoverable area */
.layout-builder-block.contextual-region .contextual .trigger {
  width: 50px !important;
  height: 50px !important;
}

/* increase the size of the icon itself */
.layout-builder-block.contextual-region .contextual .trigger::before {
  width: 1.2rem;
  height: 1.2rem;
  mask-size: 1.2rem;
  -webkit-mask-size: 1.2rem;
}

/* two-column layout edit adjustments */
.yds-two-column .layout-builder-block.contextual-region .contextual {
  left: 0;
}

@media only screen and (min-width: 2200px) {
  .yds-two-column .layout-builder-block.contextual-region .contextual {
    left: -1vw;
  }
}

@media only screen and (min-width: 2500px) {
  .yds-two-column .layout-builder-block.contextual-region .contextual {
    left: -1vw;
  }
}

/* add min-height so that smaller (in height) components are more easily
// able to be interacted with - e.g. `divider`
*/
.layout-builder-block {
  min-height: 9rem;
}

/* increase padding around the divider when in layout-builder, to make the
// divider more visible
*/
.layout-builder-block .divider__wrapper {
  display: flex;
  align-items: center;
  padding-inline: 2rem;
}

/*
// theme headings/text in glb-tables to override site style sheets
*/

.glb-table th > * {
  color: var(--gin-color-text);
}

/* Tables */
.glb-table tr:nth-child(2n) {
  background-color: transparent;
}

/*
// Autocomplete styles (linkit)
*/
.ui-autocomplete .ui-menu-item-wrapper:focus,
.ui-autocomplete .ui-menu-item-wrapper:hover {
  background-color: var(--gin-color-primary);
  color: var(--gin-bg-layer3);
}

/* Dark mode was not passing contrast */
.gin--dark-mode
  .linkit-ui-autocomplete.ui-menu
  .linkit-result-line-wrapper.ui-state-active {
  color: var(--gin-color-primary);
  background-color: var(--gin-bg-layer3);
}

/*
// Offcanvas toolbar styles
*/
#drupal-off-canvas-wrapper {
  --off-canvas-button-background-color: #555;

  color: var(--gin-color-text) !important;
  background-color: var(--gin-bg-layer) !important;
  font-family: var(--gin-font);
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar {
  background-color: var(--gin-bg-layer2) !important;
  color: var(--gin-color-text) !important;
}

#drupal-off-canvas-wrapper .button--primary {
  background-color: var(--color-blue-yale) !important;
}

#drupal-off-canvas-wrapper .button--primary:hover,
#drupal-off-canvas-wrapper .button--primary:focus,
#drupal-off-canvas-wrapper .button--primary:active {
  color: var(--off-canvas-primary-button-text-color) !important;
  background-color: var(--color-blue-royal) !important;
}

#drupal-off-canvas-wrapper .button--danger:hover {
  background-color: var(--gin-color-danger) !important;
}

#drupal-off-canvas-wrapper a:not(.button) {
  color: var(--menu-link-color) !important;
}

.gin--dark-mode #drupal-off-canvas-wrapper a:not(.button) {
  color: var(--color-blue-light) !important;
}

/* Ensure chosen selection in dark mode sidebar uses readable text color. */
.gin--dark-mode #drupal-off-canvas-wrapper a.chosen-single {
  color: var(--color-basic-black) !important;
}

/*
Moderation sidebar
*/

.moderation-sidebar-container .moderation-sidebar-revision-item {
  border-bottom: 1px solid var(--color-text) !important;
  margin: 1.5rem 0 !important;
}

.moderation-sidebar-container .moderation-sidebar-revision-item:last-of-type {
  border-bottom: 0 !important;
}

.entity-moderation-form {
  padding: 1rem;
  margin: 1rem auto;
}

.entity-moderation-form input[type="submit"] {
  margin-bottom: 0;
}

.moderation-sidebar-container .moderation-sidebar-revision-log {
  border: 1px solid var(--color-text) !important;
}

/*
// Image crop vertical tabs override
*/

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: var(--gin-color-primary) !important;
}

.vertical-tabs__menu-item {
  background: var(--gin-bg-layer) !important;
}

.gin--dark-mode .glb-media-library-add-form__remove-button {
  background-color: var(--gin-color-primary) !important;
  color: var(--gin-bg-layer3) !important;
}

/* row weights link on tabs, accordions, callouts, etc. */
.glb-form-item button.link {
  color: var(--gin-color-primary);
}

/* set summary-content equal to gin-color-text */
.js.gin--dark-mode .paragraphs-description .summary-content {
  color: var(--gin-color-text) !important;
}

/* In light mode, gin is displaying a mustard background with a black
foreground. This causes contrast issues.  */
#drupal-off-canvas-wrapper
  .ui-dialog-content
  div:not([data-drupal-ck-style-fence] *),
html:not(.gin--dark-mode)
  #drupal-off-canvas:not(.drupal-off-canvas-reset).ui-dialog-content
  div:not([data-drupal-ck-style-fence] *) {
  color: var(--gin-color-text);
}

/*
 * GinLB has a spinning text that we do not want in our system, so we disabled
 * the animation of the throbber wrapper.
 *
 * By attempting to hide this, the delete and edit links were appearing above
 * the message being displayed to the user.  This ensures that the z-index is
 * respected such that the message will show and the buttons will not be shown
 * during the throbber.
 *
 * We then do the same for the ui-dialog version since it also was clipping the
 * text with link icons.
 */
.ui-dialog .ajax-progress,
.ui-dialog .ajax-progress-throbber {
  background-color: var(--gin-bg-layer) !important;

  /* For some reason the throbber container had a border-radius? */
  border-radius: unset !important;
  display: block;

  /*
   * Setting a height of 100 in this case will cover the image.  So we set a
   * lower height that will still cover the links
   */
  height: var(--spacing-component-gutter);
  z-index: 10;
}

#drupal-off-canvas-wrapper .ajax-progress,
#drupal-off-canvas-wrapper .ajax-progress-throbber {
  animation: none;
  background-color: var(--gin-bg-layer) !important;

  /* For some reason the throbber container had a border-radius? */
  border-radius: unset;
  display: block;
  height: 100%;
  z-index: 10;
}

.ajax-progress-throbber::before {
  right: 0;
}

/*
 * Media text after 10.3 update was displaying messages that violated
 * A11y guidelines. This is a fix to ensure that the text is readable.
 */
.field--name-field-media .fieldset__prefix {
  color: var(--gin-color-text-light);
}

/*
 * Claro was adding a pull quote in the blockquote's before.  We are
 * handling that.
 */
blockquote.quote-callout__quote::before,
blockquote.pull-quote__quote::before {
  content: "";
}

/*
 * Claro is modifying jquery-ui's handling of menu items.
 * We need gin to take over.
 */
.ui-menu-item {
  color: var(--gin-color-text);
}

/*
* Fix cancel button color in gin
*/
html.gin--dark-mode .button.dialog-cancel {
  color: var(--gin-color-button-text);
}

/*
 * Mimic glb-form-required in gin
 */
label.form-required::after, label.js-form-required::after {
  content: "*" !important;
  vertical-align: text-top !important;
  color: var(--gin-color-danger) !important;
  background: none !important;
}

/*
 * Pager styles
 *
 * These address using our custom pager with layout builder in certain cases like
 * media library and layout builder itself.
 */
.pager__link.is-active {
  color: var(--color-basic-brown-gray);
  border-color: var(--color-basic-brown-gray);
}

.layout-builder .pager__link.is-active {
  background: var(--color-basic-white);
}

/**
 * WCAG 2.1 AA Contrast Fix - Issue #1086
 * Custom properties for contrast-safe colors in dark mode
 * These values meet WCAG 2.1 AA contrast requirements (4.5:1 for small text)
 */
.gin--dark-mode {
  --ys-contrast-blue: #0056b3; /* 4.51:1 contrast on white - WCAG AA compliant */
  --ys-contrast-dark-gray: #4a4a4a; /* 9.23:1 contrast on white - AAA compliant */
  --ys-contrast-white: #fff; /* 21:1 contrast on black */
  --ys-contrast-black: #000; /* 21:1 contrast on white */

  /* SVG Icon URLs - stored as variables for reusability and maintainability */
  --icon-add-section: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 100.25 100.25" width="26px" height="26px"><path d="M83.061,27.94l-11-11c-0.281-0.281-0.663-0.439-1.061-0.439H18c-0.828,0-1.5,0.671-1.5,1.5v64c0,0.829,0.672,1.5,1.5,1.5h64c0.828,0,1.5-0.671,1.5-1.5v-53C83.5,28.602,83.342,28.221,83.061,27.94z M34.5,19.5h31v21h-31V19.5z M71.5,80.5h-43v-26h43V80.5z M80.5,80.5h-6V53c0-0.829-0.672-1.5-1.5-1.5H27c-0.828,0-1.5,0.671-1.5,1.5v27.5h-6v-61h12V42c0,0.829,0.672,1.5,1.5,1.5h34c0.828,0,1.5-0.671,1.5-1.5V19.5h1.879L80.5,29.621V80.5z"/></svg>');
  --icon-import-library: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137.144 137.144"><g><g><path d="M75.429,27.429H61.715v54.858H48.001l20.571,27.428l20.571-27.428H75.429V27.429z M109.715,0H27.429C12.28,0,0,12.28,0,27.429v82.286c0,15.149,12.28,27.429,27.429,27.429h82.286c15.149,0,27.429-12.28,27.429-27.429V27.429C137.144,12.28,124.864,0,109.715,0z M123.43,102.858c0,11.362-9.21,20.572-20.571,20.572H34.286c-11.361,0-20.572-9.21-20.572-20.572V34.286c0-11.362,9.21-20.572,20.572-20.572h68.572c11.361,0,20.571,9.21,20.571,20.572V102.858z"/></g></g></svg>');
  --icon-drag-handle: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath d='M14.904 7.753l-2.373-2.372c-.291-.292-.529-.193-.529.22v1.399h-3v-3h1.398c.414 0 .512-.239.221-.53l-2.371-2.372c-.137-.136-.36-.136-.497 0l-2.372 2.372c-.292.292-.193.53.22.53h1.399v3h-3v-1.369c0-.413-.239-.511-.53-.22l-2.372 2.372c-.136.136-.136.359 0 .494l2.372 2.372c.291.292.53.192.53-.219v-1.43h3v3h-1.4c-.413 0-.511.238-.22.529l2.374 2.373c.137.137.36.137.495 0l2.373-2.373c.29-.291.19-.529-.222-.529h-1.398v-3h3v1.4c0 .412.238.511.529.219l2.373-2.371c.137-.137.137-.359 0-.495z'/%3e%3c/svg%3e");
}

/**
 * WCAG 2.1 AA Contrast Fix - Issue #1086
 * Media library help text links need proper contrast in dark mode
 * Using Gin's primary color for consistency with other admin links
 */
.gin--dark-mode .media-library-widget-modal .ui-widget-content a {
  color: var(--gin-color-primary);
}

.media-library-widget-modal .ui-widget-content a {
  color: var(--color-basic-black);
}

/**
 * WCAG 2.1 AA Contrast Fix - Issue #1086
 * Media library view switcher (Grid/Table toggle)
 * Unselected state uses white to match icon; selected state stays blue
 */
.gin--dark-mode .media-library-wrapper .views-display-link:not(.is-active),
.gin--dark-mode .glb-view-header .views-display-link:not(.is-active) {
  color: var(--ys-contrast-white);
  opacity: 0.65;
}

.gin--dark-mode .media-library-wrapper .views-display-link:not(.is-active):hover,
.gin--dark-mode .glb-view-header .views-display-link:not(.is-active):hover {
  opacity: 0.85;
}

/**
 * WCAG 2.1 AA Contrast Fix - Issue #1086
 * Layout Builder section links on white backgrounds
 * Use darker blue that passes 4.5:1 contrast on white for small text
 * Include icons (pseudo-elements) to match link color
 */
.gin--dark-mode .layout-builder__link {
  color: var(--ys-contrast-blue);
}

.gin--dark-mode .layout-builder__link::before,
.gin--dark-mode .layout-builder__link::after {
  background-color: var(--ys-contrast-blue) !important;
}

/* Override gin_lb.css section hover - keep links blue unless directly hovered */
.gin--dark-mode .layout-builder__section:hover .layout-builder__link--configure:not(:hover),
.gin--dark-mode .layout-builder__section:hover .layout-builder__link--add-section-to-library:not(:hover),
.gin--dark-mode .layout-builder__section:hover .layout-builder__link--remove:not(:hover) {
  color: var(--ys-contrast-blue) !important;
}

.gin--dark-mode .layout-builder__section:hover .layout-builder__link:not(:hover)::before,
.gin--dark-mode .layout-builder__section:hover .layout-builder__link:not(:hover)::after {
  background-color: var(--ys-contrast-blue) !important;
}

/* Icons with pseudo-elements - white on hover (direct link hover only) */
.gin--dark-mode .layout-builder__link:hover::before,
.gin--dark-mode .layout-builder__link:hover::after {
  background-color: var(--ys-contrast-white) !important;
}

/* Remove link uses mask-image directly on the element, not pseudo-element */
.gin--dark-mode .layout-builder__link--remove {
  background-color: var(--ys-contrast-blue) !important;
}

/* Remove icon turns black on hover (icon is ::after pseudo-element) */
.gin--dark-mode .layout-builder__link--remove:hover::after {
  background-color: var(--ys-contrast-black) !important;
}

/* Add Section to Library - blue icon, white on hover (using mask-image pattern with ::before) */
.gin--dark-mode .layout-builder__link--add-section-to-library {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  background-image: none;
}

.gin--dark-mode .layout-builder__link--add-section-to-library::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: var(--ys-contrast-blue);
  mask-image: var(--icon-add-section);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 26px 26px;
  -webkit-mask-image: var(--icon-add-section);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 26px 26px;
}

.gin--dark-mode .layout-builder__link--add-section-to-library:hover::before {
  background-color: var(--ys-contrast-white);
}

/* Import from Library - blue icon using mask-image pattern with ::before for consistency */
.gin--dark-mode .layout-builder__link--import-from-library {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  background-image: none;
}

.gin--dark-mode .layout-builder__link--import-from-library::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: var(--ys-contrast-blue);
  mask-image: var(--icon-import-library);
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: var(--icon-import-library);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

/**
 * WCAG 2.1 AA Contrast Fix - Issue #1086
 * Context-aware drag handle and icon colors for striped tables
 *
 * Problem: Gin's --gin-color-text-light is light gray (#9e9fa0) assuming dark
 * backgrounds. This fails on white striped table rows where drag handles become
 * nearly invisible (1.86:1 contrast).
 *
 * Solution: Override variable for light backgrounds (white table rows, dialogs)
 * with dark gray (#4a4a4a = 9.23:1 contrast). Maintain light gray for dark rows.
 */
.gin--dark-mode .ui-dialog,
.gin--dark-mode .layout-builder-configure-section,
.gin--dark-mode .layout-builder__region,
.gin--dark-mode tbody tr:nth-child(even),
.gin--dark-mode .media-library-widget__modal,
.gin--dark-mode .form-wrapper,
.gin--dark-mode .off-canvas-dialog-panel {
  --gin-color-text-light: var(--ys-contrast-dark-gray);
}

.gin--dark-mode tbody tr:nth-child(odd),
.gin--dark-mode .gin-layer-wrapper,
.gin--dark-mode .region-breadcrumb,
.gin--dark-mode .view-header,
.gin--dark-mode .gin-secondary {
  --gin-color-text-light: #9e9fa0;
}

/* Direct targeting of drag handles on white rows - using mask-image pattern */
.gin--dark-mode tbody tr:nth-child(even) .tabledrag-handle::after,
.gin--dark-mode #drupal-off-canvas-wrapper tbody tr:nth-child(even) .tabledrag-handle::after {
  background-color: var(--ys-contrast-dark-gray) !important;
  background-image: none !important;
  mask-image: var(--icon-drag-handle);
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: var(--icon-drag-handle);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

/* White drag handles on hover (row background turns dark) */
.gin--dark-mode tbody tr:nth-child(even):hover .tabledrag-handle::after,
.gin--dark-mode #drupal-off-canvas-wrapper tbody tr:nth-child(even):hover .tabledrag-handle::after {
  background-color: var(--ys-contrast-white) !important;
}

.media-library-widget-modal .pager__items {
  font-weight: normal;
}

.media-library-widget-modal .pager__link.is-active {
  background: transparent;
}
.media-library-widget-modal .pager__link--next:hover,
.media-library-widget-modal .pager__link--previous:hover {
  background: transparent;
  color: var(--color-link-base);
}

.layout-builder .pager__items {
  font-weight: normal;
}

.layout-builder .pager__items.is-active {
  background-color: var(--color-basic-white);
  background: var(--color-basic-white);
}

/* Claro's pager styles are interfering with ours. */
.pager__item--last .pager__link::after,
.pager__item--first .pager__link::before,
.pager__item--next .pager__link::after,
.pager__item--previous .pager__link::before {
  --background-image: none;
  display: none;
}

/*
 * Dark mode pager style
 */
.gin--dark-mode .media-library-widget-modal .pager__link--next:hover,
.gin--dark-mode .media-library-widget-modal .pager__link--previous:hover {
  background: transparent;
  color: var(--color-basic-white);
}

.gin--dark-mode .media-library-widget-modal .pager__link {
  color: var(--gin-color-primary);
  background-color: transparent;
}

.gin--dark-mode .media-library-widget-modal .pager__link {
  color: var(--color-basic-white);
}
