/* These styles are necessary because we're using Layout Builder and need to target
// more deeply nested selectors than in our component-library.

/***
****************
Edit overrides 1
****************

first and last child component spacing between the
site header and site footer, respectively.

****************
****************
*/

/* This `layout-banner override, overrides the .main-content > *:first-child
statement in web/themes/contrib/atomic/_yale-packages/component-library-twig/components/04-page-layouts/page-layouts.scss

We need to set this region to have no top margin because our component-library doesn't
account for div elements in-between 'main-content' and the component themselves.

Without this, the `layout-banner` would get top margin from the component-library
because the --main-content-top-margin variable isn't set and --size-spacing-6
would be used instead resulting in top margin of size-spacing-6.  */

.main-content .layout--banner {
  margin-top: 0;
}

/* This applies margin-top: 0 to the first child inside of our nest divs */
.main-content .layout--banner .layout__region > *:first-child {
  margin-top: 0;
}

/* This applies margin-bottom: 0 to the last child inside of our nest divs */
.main-content .layout--banner .layout__region > *:last-child {
  margin-bottom: 0;
}

/* The last item inside the `.main-content` area should have some space between
// it and the site footer (size-spacing-12 below) - unless it is designated as
// `$flush-bottom` above. Then it will have no bottom-margin separating it from
/ the site footer.
*/
.main-content .layout.layout--onecol:last-of-type .layout__region--content > *:last-child {
  margin-bottom: var(--main-content-bottom-margin, var(--size-spacing-13));
}

/* Here we need to specify which components in the main content layout div
need to have margin-bottom set to 0 */
.main-content .layout.layout--onecol:last-of-type .layout__region--content:last-child .callouts:last-child,
.main-content .layout.layout--onecol:last-of-type .layout__region--content:last-child .cta-banner:last-child,
.main-content .layout.layout--onecol:last-of-type .layout__region--content:last-child .grand-hero-banner:last-child,
.main-content .layout.layout--onecol:last-of-type .layout__region--content:last-child .image-banner:last-child,
.main-content .layout.layout--onecol:last-of-type .layout__region--content:last-child .quick-links:last-child,
.main-content .layout.layout--onecol:last-of-type .layout__region--content:last-child .text-with-image:not([data-component-theme='default']):last-child,
.main-content .layout.layout--onecol:last-of-type .layout__region--content:last-child .content-spotlight-portrait:not([data-component-theme='default']):last-child {
  margin-bottom: 0;
}

/* This is necessary because there could be more than one instance of
// layout-onecol
*/
.main-content .layout.layout--onecol:last-child {
  margin-bottom: 0;
}

/*
// Pull quotes has a <p> element provided by the WYSIWYG
// we need to make the `-` character and the attribution text in line,
// and remove margin from the <p>
display: flex;
*/

.pull-quote__attribution {
  display: flex;
}

.pull-quote__attribution p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Fix for breadcrumb spacing on profile nodes */
.ys-content-type-profile .main-content .breadcrumbs__wrapper {
  margin-bottom: var(--size-spacing-7);
}

.main-content .layout.layout--onecol .block-wrapper__inner {
  width: 100%;
  max-width: 1344px;
  margin: 0 auto;
}

/* Remove margin from `p` element when used in sidebar */
.block-wrapper .text p {
  margin: 0;
}

/* Remove bottom margin from the image-banner so that it can be flush with other items */
.layout--banner .image-banner {
  margin-bottom: 0;
}

/* Wingsuit layout builder styles */

.block-categories .layout-builder-browser-block-item img {
  width: 100%;
  margin-bottom: 1rem;
  filter: unset;
}

.block-categories.glb-layout-builder-browser .glb-claro-details__wrapper {
  gap: 0.5rem;
}

.block-categories .layout-builder-browser-block-item {
  width: 100%;
  max-width: calc(50% - 1rem);
}

@media screen and (min-width: 500px) {
  .block-categories .layout-builder-browser-block-item {
    max-width: calc(33% - 1rem);
  }

}

.layout-builder-browser-reusable-block {
  text-decoration: none;
  line-height: 1.5rem;
}

.layout-builder-browser-reusable-block .underlined-title {
  text-decoration: underline;
}

.glb-canvas-form__settings {
  flex-grow: unset;
}

/*
Used with patch to add reusable blocks from within layout builder
Note: div[data-drupal-selector="edit-block-form"] is for reusable block editing
area needed more padding.
*/

.layout-builder-configure-block .form-item-reusable,
.layout-builder-configure-block .form-item-reusable + .form-type--textfield,
div[data-drupal-selector="edit-block-form"] {
  padding-left: 20px;
  padding-right: 21px;
}

/* Override layout builder buttons in dark mode */
.gin--dark-mode [data-gin-accent="light_blue"] .layout-builder__link--add:not(:focus) {
  color: var(--color-gray-800) !important;
}

.gin--dark-mode .ws-lb-link__label {
  background-color: var(--gin-bg-layer);
}

/* layout builder section borders */
.layout-builder__section:not(.gin-lb--disable-section-focus)::after {
  border: 0.35rem solid  hsl(180, 7%, 75%) !important;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.layout-builder__section:not(.gin-lb--disable-section-focus):hover::after {
  border: 0.35rem solid  hsl(180, 7%, 20%) !important;
}

.layout-builder__section {
  margin: 2rem 1rem;
}

.layout-builder__section .js-layout-builder-region {
  padding: 1rem;
}

.layout-builder-components-table tr:nth-child(odd) {
  background-color: var(--gin-bg-layer);
  color: var(--gin-color-text);
}

#drupal-off-canvas-wrapper .draggable:hover,
#drupal-off-canvas-wrapper .draggable:focus-within {
  background-color: var(--gin-bg-layer2);
}


/* Layout component layout-builder link overrides. */
.yds-layout.layout-builder__layout[data-component-theme="one"] .layout-builder__link.layout-builder__link--add,
.yds-layout.layout-builder__layout[data-component-theme="three"] .layout-builder__link.layout-builder__link--add,
.yds-layout.layout-builder__layout[data-component-theme="four"] .layout-builder__link.layout-builder__link--add {
  background-color: white !important;
  border-color: transparent !important;
}

.yds-layout.layout-builder__layout[data-component-theme="one"] .layout-builder__link.layout-builder__link--add:hover,
.yds-layout.layout-builder__layout[data-component-theme="three"] .layout-builder__link.layout-builder__link--add:hover,
.yds-layout.layout-builder__layout[data-component-theme="four"] .layout-builder__link.layout-builder__link--add:hover {
  background-color: var(--gin-color-primary-hover) !important;
  border-color: white !important;
}

/* Change layoutbuilder configure/UI element colors in dark mode because the defaults don't look good */
.gin--dark-mode .layout-builder__link--configure:hover {
  background-color: var(--gin-bg-layer) !important;
}

.gin--dark-mode .layout-builder__section:hover .layout-builder__link--configure {
  background-color: var(--gin-bg-layer) !important;
  color: var(--gin-color-primary) !important;
}

.gin--dark-mode .layout-builder__section:hover .layout-builder__link--add-section-to-library,
.gin--dark-mode .layout-builder__section:hover .layout-builder__link--remove {
  background-color: var(--gin-bg-layer) !important;
  color: var(--gin-color-primary) !important;
}

.layout-builder__section .layout-builder__link--add-section-to-library {
  position: absolute;
  top: -24px;
  left: 275px;
  font-size: 1rem;
}

/* Override layout builder block categories hover state in dark mode */
.gin--dark-mode .glb-grid-item:hover,
.gin--dark-mode .layout-builder-browser-block-item:hover {
  color: white;
  background-color: var(--gin-color-primary-light-rgb) !important;
}


/* Wingsuit layout builder styles */

.block-categories .layout-builder-browser-block-item img {
  width: 100%;
  margin-bottom: 1rem;
  filter: unset;
}

.block-categories.glb-layout-builder-browser .glb-claro-details__wrapper {
  gap: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}

.block-categories .layout-builder-browser-block-item {
  width: 100%;
  max-width: calc(50% - 1.30rem);
  border: 0.15rem solid;
}

@media screen and (min-width: 500px) {
  .block-categories .layout-builder-browser-block-item {
    max-width: calc(33% - 1.30rem);
  }

}

.layout-builder-browser-reusable-block {
  text-decoration: none;
  line-height: 1.5rem;
}

.layout-builder-browser-reusable-block .underlined-title {
  text-decoration: underline;
}

.glb-canvas-form__settings {
  flex-grow: unset;
}

/*
Used with patch to add reusable blocks from within layout builder
Note: div[data-drupal-selector="edit-block-form"] is for reusable block editing
area needed more padding.
*/

.layout-builder-configure-block .form-item-reusable,
.layout-builder-configure-block .form-item-reusable + .form-type--textfield,
div[data-drupal-selector="edit-block-form"] {
  padding-left: 20px;
  padding-right: 21px;
}

/* Get sticky footer to work in Layout Builder */
#block-yalesitesfooterblock {
  margin-top: auto;
}

/* Layout containers now have a margin due to stable9 */
.layout-container {
  margin: 0;
}

/* On layout builder browser search, hide entries that are actually empty */
.layout-builder-browser-block-item:has(a[style*="display: none"]) {
  display: none;
}

/* To fix ckeditor's modification of paragraph action buttons */
#drupal-off-canvas-wrapper .ui-dialog-content div:not([data-drupal-ck-style-fence] *) {
  width: inherit !important;
  max-width: inherit !important;
}

/**
 * The header for some reason was allowing the z-index of the table cells to
 * show above it.
 */
th.field-label {
  z-index: 105;
}

/* A gradient was displaying on certain states.  This removes it. */
.has-multiple-fields-remove-button .js .paragraphs-collapsed-description:after {
  display: none;
}

/* Fix for caption in image banner */
/* This is an override for a core CSS file for tables which has too broad styles for .caption */
.js-layout-builder-block .image-banner__image figcaption.caption  {
  margin-block-end: 0;
}

/* Adjust bottom-margin if an element with [data-spotlights-position="first-and-last"] is the last element on the page */
/* Or if [data-spotlights-position="last"] is the last element in main content */
.main-content [data-spotlights-position="first-and-last"]:last-child,
.main-content [data-spotlights-position="last"]:last-child {
  margin-bottom: 0;
}

/* Adjust top-margin if an element with an [data-spotlights-position="first" or data-spotlights-position="first-and-last"
// is the first element in main content */
.main-content [data-spotlights-position="first"]:first-child,
.main-content [data-spotlights-position="first-and-last"]:first-child,
/* page-meta will almost always be the first element in main content, so we need a condition for it */
.main-content > .page-meta + [data-spotlights-position="first-and-last"],
.main-content > .page-meta + [data-spotlights-position="first"] {
  margin-top: 0;
}

/* Fixes dark mode weight links to have better contrast. */
.gin--dark-mode button.tabledrag-toggle-weight {
  color: var(--gin-color-text);
}

/*
 * For layout builder paragraph tables, we need to override the default in dark mode.
 * This is due to otehr things overloading it in the wrong way, like our _table.css,
 * gin, and ckeditor.
 */
.gin--dark-mode .field-multiple-table.glb-table tr.draggable > td {
  background-color: var(--gin-bg-layer);
  color: var(--gin-color-text);
}

.gin--dark-mode .field-multiple-table.glb-table tr.draggable:nth-child(odd) > td {
  background-color: var(--gin-bg-layer2);
  color: var(--gin-color-text);
}

/*
 * There are places where the contextual menu is showing when it should not.
 * This hides this from the users while giving us the flexibility to get to it
 * should we ever need it.
 */
#block-atomic-custombooknavigation .contextual,
#block-yalesitesfooterblock .contextual,
#block-yalesitesfooterblock .contextual-region {
  display: none;
}

/* Fix horizontal tabs content overflow issue (YSP-902) */
/* Tab content was extending beyond the white border of the tab container */
/* Target Gin Layout Builder specific classes used in block form tabs */

.horizontal-tabs-pane.glb-claro-details {
  overflow: hidden;
}

.horizontal-tabs-pane.glb-claro-details .glb-claro-details__wrapper {
  padding: 1em 1.5em 1.5em 1.5em;
  overflow: hidden;
  box-sizing: border-box;
}

/* Ensure Gin Layout Builder form elements respect tab boundaries */
.horizontal-tabs-pane .glb-form-wrapper,
.horizontal-tabs-pane .glb-form-item {
  margin-right: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.horizontal-tabs-pane .glb-form-element {
  max-width: 100%;
  box-sizing: border-box;
}

/* Additional containment for the main horizontal tabs container */
.horizontal-tabs-panes {
  overflow: hidden;
}

/* Fix width issue specifically for edit block sidebar (layout_builder_update_block) */
/* The edit block sidebar has different constraints than the modal */
[data-drupal-selector^="edit-settings-block-form-group-block-tabs"].horizontal-tabs-panes {
  width: 100%;
  max-width: none;
}

/* Override the CKEditor fix for horizontal tabs specifically */
/* The CKEditor fix at line 330 applies width: inherit !important to all divs */
/* but we need tabs to take full width in the edit block sidebar */
#drupal-off-canvas-wrapper .ui-dialog-content div[data-drupal-selector^="edit-settings-block-form-group-block-tabs"].horizontal-tabs-panes,
#drupal-off-canvas-wrapper .ui-dialog-content .horizontal-tabs-pane.glb-claro-details .glb-claro-details__wrapper,
#drupal-off-canvas-wrapper .ui-dialog-content .horizontal-tabs-pane .glb-form-wrapper {
  width: 100% !important;
  max-width: 100% !important;
}

/* Fix tab border alignment in Layout Builder (YSP-902) */
/* Remove the bottom border from the tabs navigation to eliminate double border */
#drupal-off-canvas-wrapper .horizontal-tabs ul.horizontal-tabs-list::after,
.layout-builder-configure-block .horizontal-tabs ul.horizontal-tabs-list::after {
  border-bottom: none !important;
}

/* Ensure the tab content wrapper takes full available width in sidebar */
.horizontal-tabs-pane.glb-claro-details .glb-claro-details__wrapper.details-wrapper {
  width: 100%;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
