<div{{ add_attributes() }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% embed "@molecules/embed/yds-embed.twig" %}
    {% block embed__block %}
      {{ content }}
    {% endblock %}
  {% endembed %}

</div>
