{% extends "@page-layouts/yds-full-width.twig" %}
  {% block page__header %}
    {{ page.header }}
  {% endblock %}
  {% block page__system %}
    {{ page.system }}
  {% endblock %}
  {% block page__content %}
    <div class="layout--centered">
      {{ page.content }}
    </div>
  {% endblock %}
  {% block page__footer %}
    {{ page.footer }}
  {% endblock %}
